<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr><td>ID</td><td>姓名</td><td>年龄</td></tr>
    <tr><td><%=id%></td><td><%=name%></td><td ><%=age%></td></tr>
</table>
</body>
</html>